* {
	box-sizing: border-box;
}
.content {
	padding: 10px;
	display: table;
	width: 100%;
	min-height: 120px;
	margin-top: 10px;
	border: 1px;
	border-color: #006600;
	border-style: solid;
}
.chart{
	height:150px;
}
.meter {
	width:400px;
	height:250px
}
.yellowColor{
	background-color:#cccc00;
}
.redColor {
	background-color: #cc2900;
}

.greenColor {
	background-color: #29a329;
}
.line {
	background-color:#ff80c0;
	height:10%;
}
.image{
	height:150px;
	width:200px;
	background: url("images/bill2.jpg") no-repeat;
}
