* {
	box-sizing: border-box;
}
.header {
	padding: 1px;
	display: table;
	width: 100%;
	min-height: 60px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	background: url("images/bills.jpg") no-repeat;
	background-position: center;
	font-size: 35px;
	font-weight: bold; 
	text-align: center;
}
