<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template.xhtml">
	<ui:define name="title">Coupon list</ui:define>
	<ui:define name="content">
		<h:form>
			<p:messages id="message" showDetail="false" autoUpdate="true"
				closable="true" />
			<p:panel id="basic" header="COUPON FORM">
				<h:panelGrid columns="2">
					<p:outputLabel for="number">Number:</p:outputLabel>
					<p:inputText id="number"
						value="#{couponModel.currentCoupon.couponNumber}" required="true"
						requiredMessage="Please enter a number" integerOnly="true"
						validatorMessage="Value should be enter with numbers. Size - exactly 4.">
						<f:validateLength minimum="4" maximum="4" />
						<f:convertNumber/>
						<p:ajax event="change" action="#{chartController.generateBarcode(couponModel.currentCoupon.couponNumber)}" update="barcodeForm:barcode"/>
					</p:inputText>
					<p:outputLabel for="buyer">Buyer:</p:outputLabel>
					<p:inputText id="buyer"
						value="#{couponModel.currentCoupon.couponBuyer}"
						validatorMessage="Value can not be longer than 255 characters or used with numbers and special characters">
						<f:validateRegex pattern="^[a-zA-Z]+$" />
						<f:validateLength maximum="255" />
					</p:inputText>
					<p:outputLabel for="seller">Seller:</p:outputLabel>
					<p:inputText id="seller"
						value="#{couponModel.currentCoupon.couponSeller}"
						validatorMessage="Value can not be longer than 255 characters or used with numbers and special characters">
						<f:validateRegex pattern="^[a-zA-Z]+$" />
						<f:validateLength maximum="255" />
					</p:inputText>
					<p:outputLabel for="date">Date:</p:outputLabel>
					<p:calendar id="date" required="true"
						value="#{couponModel.currentCoupon.couponDate}"
						pattern="yyyy-MM-dd" readonlyInput="true"
						requiredMessage="Please choose a date" />
				</h:panelGrid>
				<p:commandButton value="Save" action="#{couponController.save()}"
					update="@form"></p:commandButton>
				<p:commandButton value="Cancel"
					action="#{couponController.cancel()}" update="@form"
					immediate="true">
					<p:confirm header="Confirmation" message="Do you want to close?"
						icon="ui-icon-alert" />
				</p:commandButton>
			</p:panel>
		</h:form>
		<br/>
		<h:form id="barcodeForm">
			<p:barcode id="barcode" value="#{chartController.generateBarcode()}" type="ean13" />
		</h:form>

	</ui:define>
</ui:composition>