<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" template="/WEB-INF/template.xhtml">
	<ui:define name="Title">Add products </ui:define>
	<ui:define name="content">
		<h:form>
			<p:commandButton action="main" value="Back to main"/>
			<p></p>
			<h:graphicImage styleClass="image"/>
			<p>
				<b>COUPON DETAILS</b>
			</p>
			<p>Number: <b> #{couponModel.currentCoupon.couponNumber}</b></p>
			<p>Date: <b><h:outputText value="#{couponModel.currentCoupon.couponDate}">
							<f:convertDateTime pattern="yyyy/MM/dd"/>
						</h:outputText></b>
			</p>
			<p>Buyer: <b>#{couponModel.currentCoupon.couponBuyer}</b></p>
			<p>Seller: <b>#{couponModel.currentCoupon.couponSeller}</b></p>
			<p>TOTAL (LTU) :<b><h:outputText value="#{couponController.getCouponSumLT(couponModel.currentCoupon)}"></h:outputText></b>
			</p>
			<p>TOTAL (EUR) :<b><h:outputText value="#{couponController.getCouponSumEU(couponModel.currentCoupon) }"></h:outputText></b>
			</p>
			<p:growl id="messages"/>
			<p:commandLink action="#{productController.create()}" update="@form" value="Add product"/>
			<p:dataTable var="product" value="#{couponController.getAllProducts(couponModel.currentCoupon)}">
				<p:column headerText="Number">
					#{product.productName}
				</p:column>
				<p:column headerText="Unit">
					#{product.productUnit}
				</p:column>
				<p:column headerText="Quantity"> 
					#{product.productQuantity}
				</p:column>
				<p:column headerText="Price"> 
				<h:outputText value="#{product.productPrice}">
	 				<f:convertNumber pattern="#0.00" />
	 				</h:outputText>
				</p:column>
				<p:column headerText="Sum"> 
	 				#{product.sum()}
				</p:column>
				<p:column headerText="Actions">
					<p:commandButton action="#{productController.update(product)}" update="@form" icon="ui-icon-pencil"/>
					<p:commandButton action="#{productController.delete(product)}" update="@form" icon="ui-icon-trash">
						<p:confirm header="Confirmation" message="Do you want to close?" icon="ui-icon-alert"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<form>
			<p:notificationBar position="top" effect="slide" widgetVar="bar" rendered="#{couponController.showNotificationBarForProducts(couponModel.currentCoupon)}" autoDisplay="true" styleClass="bar">
				<h:outputText value="Please add a product!"/>
			</p:notificationBar>
		</form>
	</ui:define>
</ui:composition>