<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" template="/WEB-INF/template.xhtml">
	<ui:define name="title">Coupon list</ui:define>
	<ui:define name="content">
		<h:form id="couponList">
			<p:commandLink value="Create coupon" action="#{couponController.create()}"/>
			<p:dataTable var="coupon" value="#{couponController.getAllCoupons()}">
				<p:column headerText="Number:">
					<p:commandLink action="#{couponController.view(coupon)}">
                        #{coupon.couponNumber}
                    </p:commandLink>
				</p:column>
				<p:column headerText="Buyer:">
                   	#{coupon.couponBuyer}
                </p:column>
				<p:column headerText="Seller:">
                    #{coupon.couponSeller}
                </p:column>
				<p:column headerText="Date:">
					<h:outputText value="#{coupon.couponDate}">
						<f:convertDateTime pattern="yyyy/MM/dd"/>
					</h:outputText>
				</p:column>
				<p:column headerText="Actions:">
					<p:commandButton action="#{couponController.update(coupon)}" icon="ui-icon-pencil" update="@form,formForChart:chart"/>
					<p:commandButton update="@form,formForChart:chart" icon="ui-icon-trash" action="#{couponController.delete(coupon)}">
						<p:confirm header="Confirmation" message="Do you want to delete?" icon="ui-icon-alert"/>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<br/>
		<input onclick="changeMainPageForm()" type="button" value="Hide chart" id="buttonForChart"></input>
		<h:form id="formForChart">
			<p:chart id="chart" type="line" model="#{chartController.lineModel}" styleClass="chart"/>
		</h:form>
		<form>
			<p:notificationBar position="bottom" effect="slide" widgetVar="bar" styleClass="bar" rendered="#{couponController.showNotificationBarForCoupons()}" autoDisplay="true">
				<h:outputText value="Please add more coupon!"/>
			</p:notificationBar>
		</form>
	</ui:define>
</ui:composition>