<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" template="/WEB-INF/template.xhtml">
	<ui:define name="title">Product list</ui:define>
	<ui:define name="content">
		<h:form id="productForm">
			<p:messages id="messages" showDetail="false" autoUpdate="true" closable="true"/>
				<p:panel id="basic" header="PRODUCT FORM">
					<h:panelGrid columns="2">
						<p:outputLabel for="name">Name:</p:outputLabel>
						<p:inputText id="name" value="#{productModel.currentProduct.productName}" required="true" requiredMessage="Please enter a name" validatorMessage="Value can not be longer than 255 characters or used with numbers and special characters">
							<f:validateLength maximum="255"/>
							<f:validateRegex pattern="^[a-zA-Z]+$"/>
						</p:inputText>
						<p:outputLabel for="unit">Unit:</p:outputLabel>
						<p:inputText id="unit" value="#{productModel.currentProduct.productUnit}" required="true" requiredMessage="Please enter a unit" validatorMessage="Value can not be longer than 255 characters or used with numbers and special characters">
							<f:validateRegex pattern="^[a-zA-Z]+$" />
							<f:validateLength maximum="255" />
						</p:inputText>
						<p:outputLabel for="quantity">Quantity:</p:outputLabel>
						<p:inputText id="quantity" required="true" value="#{productModel.currentProduct.productQuantity}" requiredMessage="Please enter a quantity" integerOnly="true">
							<f:convertNumber/>
							<p:ajax update="priceTitle" event="keyup" listener="#{productController.priceColor()}" />
						</p:inputText>
						<p:outputLabel id="priceTitle" for="price">Price:</p:outputLabel>
						<p:inputText id="price" required="true" value="#{productModel.currentProduct.productPrice}" requiredMessage="Please enter a price">
							<p:ajax event="change" action="#{chartController.meterGaugeModel}" update="metergaugeForm:metergauge"/>
							<f:convertNumber/>
							<p:ajax update="priceIndicator" event="keyup" listener="#{productController.priceColor()}" />
						</p:inputText>
						<p:outputLabel for="priceIndicator">Price indicator:</p:outputLabel>
						<p:inputText id="priceIndicator" readonly="true"></p:inputText>
					</h:panelGrid>
				</p:panel>
				<p:commandButton value="Save" action="#{productController.save()}" update="@form"></p:commandButton>
				<p:commandButton value="Cancel" action="#{productController.cancel()}" update="@form" immediate="true">
					<p:confirm header="Confirmation" message="Do you want to close?" icon="ui-icon-alert"/>
				</p:commandButton>
				<h:form id="metergaugeForm">
					<p:chart id="metergauge" type="metergauge" model="#{chartController.meterGaugeModel}"/>
				</h:form>
		</h:form>
	</ui:define>
</ui:composition>