<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="Title"></ui:insert></title>
	<h:outputStylesheet name="header.css" />
	<h:outputScript name="script.js"></h:outputScript>
</h:head>
<h:body>
	<div class="header"></div>
	<div class="content">
		<ui:insert name="content"></ui:insert>
		<h:outputStylesheet name="defaultContent.css"></h:outputStylesheet>
	</div>
	<p:confirmDialog global="true">
		<p:commandButton value="Yes" type="button"
			styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
	</p:confirmDialog>
</h:body>
</html>